* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #323232;
    color: #ededed;
}

.home-menu li{
    list-style: none;
    text-align: center;
}

.home-menu {
    list-style: none;
    padding-left: 0;
}

.home-title {
    text-align: center;
}

.pork-heading {
    text-align: center;
}

.pork-steps {
    border: 2px solid;
    border-radius: 25px;
}

.pork-body {
    padding-left: 20px;
    padding-right: 20px;
}

.soup-heading {
    text-align: center;
}

.soup__ingredients {
    float: left;
    width: 60%
}

.soup__image {
    float: right;
    width: 40%;
}

@media(max-width:600px){
    .soup__ingredients {
        width:100%;
        float:none;
    }

    .soup__image{
        width:100%;
        float:none;
    }
}